<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:fragment="title">Come join us</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/ .min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">
    <style>
        html , body{
            height: 100%;
            margin: 0;
        }
        .signup-container {
            width: 80%;
            margin: 0 auto;
        }
        .left-section {
            color: #fff;
            display: flex;
            flex-direction: column;
            padding: 40px;
            padding-top: 60px;
        }
        .right-section{
            padding-top: 60px;
            font-size: 14px !important;
        }
        .text-danger {
            font-size: 13px !important;
        }
        .form-control.is-invalid {
            border-color: #dc3545;
        }
        .invalid-feedback {
            color: #dc3545;
        }
        .password-strength {
            color: #6c757d;
        }
        .bi-exclamation-triangle{
            color:red !important;
        }
    </style>
</head>

<body>
<div class="container-fluid fade-in h-100">
    <div class="row h-100">
        <div class="col-md-6 left-section h-100"
             style="background-image: url('../assets/img/pexels-faheem-ahamad-422934800-15745114.jpg');background-repeat: no-repeat; background-size: cover;">
        </div>
        <div class="col-md-6 right-section">
            <p class="position-absolute top-0 end-0 pt-2 pe-4"><a th:href="@{/login}" class="text-secondary">Đã có tài
                khoản? Tới
                đăng nhập →</a></p>
            <div class="signup-container">
                <h4 class="mb-3">Đăng kí tài khoản</h4>
                <form role="form" th:action="@{/register}" method="post" th:object="${user}">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email *</label>
                        <input type="email" class="form-control" id="email" th:field="*{email}"
                               th:classappend="${#fields.hasErrors('email')}?is-invalid"
                               placeholder="youremail@gmail.com">
                        <i class="bi bi-exclamation-triangle" th:if="${#fields.hasErrors('email')}"></i>
                        <span class="text-danger font-weight-light " th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}"></span>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password *</label>
                        <input type="password" class="form-control" id="password" th:field="*{password}"
                               th:classappend="${#fields.hasErrors('password')}?is-invalid" placeholder="yourpassword">
                        <i class="bi bi-exclamation-triangle" th:if="${#fields.hasErrors('password')}"></i>
                        <span class="text-danger font-weight-light " th:if="${#fields.hasErrors('password')}"
                           th:errors="*{password}"></span>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username *</label>
                        <input type="text" class="form-control"
                               th:classappend="${#fields.hasErrors('username')}?is-invalid" th:field="*{username}"
                               id="username" placeholder="eg: dude101">
                        <span><i class="bi bi-exclamation-triangle" th:if="${#fields.hasErrors('username')}"></i></span>
                        <span class="text-danger font-weight-light " th:if="${#fields.hasErrors('username')}"
                           th:errors="*{username}"></span>
                    </div>
                    <button type="submit" class="btn btn-dark w-100">Submit</button>

                    <!--                    <div class="mb-3">-->
                    <!--                        <label for="country" class="form-label">Your Country/Region *</label>-->
                    <!--                        <select class="form-select" id="country">-->
                    <!--                            <option>Vietnam</option>-->
                    <!--                        </select>-->
                    <!--                        <small class="text-muted">For compliance reasons, we're required to collect country information to send</small>-->
                    <!--                    </div>-->
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>